.--appear-from-left {
    transition: all 1.1s ease 0s;
    transform: translateX(-100px);
    opacity: 0;
}
.--appear-from-right {
    transition: all 1.1s ease 0s;
    transform: translateX(100px);
    opacity: 0;
}

.--appear-from-bot {
    transition: all 1.1s ease 0s;
    transform: translate(0px, 100px);
    opacity: 0;
}

.--active {
    transform: translate(0px);
    opacity: 1;
}