// ! init ---------
//
@import './fonts';
@import './vars';
//
// ! <-------------

// ! standart selector settings -----
//
html {
    box-sizing: border-box;
}
//
*,*::after,*::before {
    box-sizing: inherit;
}
//
body {
    min-width: 320px;
    overflow-x: hidden;
}
//
.container {
    padding: 0 20px;
}
//
// ! <--------------------------------

// ! imports ----------------
//
@import './_blocks/header';
//
// ! <-----------------------

// ! adapt imports ----------
//
@import './_adapt/tablet-640';
@import './_adapt/tablet-768';
@import './_adapt/small-1024';
@import './_adapt/full-1440';
//
// ! <-----------------------
