// ! init ---------
//
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
//
// ! <-------------

// ! standart selector settings -----
//
html {
    box-sizing: border-box;
}
//
*,*::after,*::before {
    box-sizing: inherit;
}
//
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
//
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
//
button {
    padding: 0;
}
//
p {
    margin: 0;
}
//
body {
    * {
        font-family: 'Roboto', 'Arial';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    min-width: 320px;
    overflow-x: hidden;
}
//
.container {
    padding: 0 20px;
}
//
// ! <--------------------------------

// ! imports ----------------
//
@import './_blocks/header';
@import './_blocks/promo';
//
// ! <-----------------------

// ! adapt imports ----------
//
@import './_adapt/tablet-640';
@import './_adapt/tablet-768';
@import './_adapt/small-1024';
@import './_adapt/full-1440';
//
// ! <-----------------------