@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
    .top-slider {
        &__item {
            min-height: 668px;
        }
        &__title {
            padding-top: 107px;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: 2px;
        }
        &__text {
            max-width: 890px;
            font-size: 24px;
            line-height: 26px;
        }
    }
    
    .services {
        .container {
            max-width: 1440px;
        }
        padding: 0;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__head {
            max-width: 400px;
            text-align: start;
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
        &__items {
            margin: 0;
        }
        &__item {
            width: 240px;
        }
    }

    .projects {
        min-height: 618px;
        &__img-box {
            width: 268px;
            height: 239px;
        }
        &__items {
            flex-direction: row;
            justify-content: space-around;
        }
        &__item {
            margin: 0;
        }
    }

    .team {
        &__img {
            margin-top: 40px;
            width: 460px;
            height: 100%;
        }
        &__descr {
            max-width: 600px;
            margin-bottom: 110px;
        }
    }

}