@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
    .top-slider {
        &__item {
            min-height: 668px;
        }
        &__title {
            padding-top: 107px;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: 2px;
        }
        &__text {
            max-width: 890px;
            font-size: 24px;
            line-height: 26px;
        }
    }
    
    .services {
        .container {
            max-width: 1440px;
        }
        padding: 0;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__head {
            max-width: 400px;
            text-align: start;
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
        &__items {
            margin: 0;
        }
        &__item {
            width: 240px;
        }
    }

}