@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .top-slider {
        &__item {
            min-height: 618px;
        }
        &__title {
            padding-top: 101px;
            font-size: 84px;
            line-height: 84px;
        }
        .slick-dots {
            bottom: 80px;
        }
    }

    .call {
        &__inner {
            min-height: 160px;
        }
        &__text {
            max-width: 550px;
        }
    }

    .services {
        padding: 52px 0 0;
        &__title {
            margin-bottom: 45px;
        }
        &__item {
            width: 25%;
            &:nth-child(even) {
                border-left: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .projects {
        min-height: 1033px;
        &__title {
            padding-top: 70px;
            margin-bottom: 75px;
        }
        &__img-box {
            width: 317px;
            height: 282px;
        }
        &__items {
            justify-content: center;
        }
        &__item {
            margin: 0 60px 0;
        }
    }

    .team {
        &__img {
            width: 401px;
            // height: 380px;
            height: 100%;
        }
        &__descr {
            margin-bottom: 80px;
            font-size: 18px;
            line-height: 20px;
        }
    }

    .footer {
        &__bottom-box {
            padding-top: 25px;
            padding-bottom: 50px;
        }
        &__block {
            width: 25%;
        }
        &__smm-link {
            width: 230px;
        }
    }

}