@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .top-slider {
        &__item {
            min-height: 618px;
        }
        &__title {
            padding-top: 101px;
            font-size: 84px;
            line-height: 84px;
        }
        .slick-dots {
            bottom: 80px;
        }
    }

    .call {
        &__inner {
            min-height: 160px;
        }
        &__text {
            max-width: 550px;
        }
    }
}