@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
    .top-slider {
        &__item {
            min-height: 465px;
        }
        &__title {
            padding: 87px 0 0;
            margin: 0 auto 0;
            &::after {
                display: none;
            }
        }
        &__text {
            display: block;
            max-width: 587px;
            margin: 0 auto;
            padding: 25px 0 32px;
            font-family: 'Roboto Condensed', 'Arial';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        }
    }

    .call {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 187px;
        }
        &__title {
            padding: 0;
        }
        &__text {
            text-align: start;
            max-width: 415px;
        }
    }

    .services {
        padding: 50px 0 0;
        &__title {
            margin-bottom: 30px;
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }&__text {
            margin-bottom: 28px;
        }
        &__items {
            margin: 0 -40px;
        }
        &__item {
            min-height: 310px;
            width: 50%;
            &:nth-child(even) {
                border-left: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .projects {
        min-height: 1033px;
        &__title {
            padding-top: 70px;
            margin-bottom: 75px;
        }
        &__img-box {
            width: 317px;
            height: 282px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .team {
        &__inner {
            display: flex;
        }
        &__img {
            margin-top: 50px;
            margin-right: 25px;
            width: 240px;
            // height: 227px;
            height: 100%;
        }
        &__descr {
            margin-bottom: 30px;
            text-align: start;
        }
    }

}