@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
    .top-slider {
        &__title {
            padding: 87px 0 0;
            margin: 0 auto 0;
            &::after {
                display: none;
            }
        }
        &__text {
            display: block;
            max-width: 587px;
            margin: 0 auto;
            padding: 25px 0 32px;
            font-family: 'Roboto Condensed', 'Arial';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        }
    }
}