@media (min-width: 640px) {
    .container {
        padding: 0 30px;
    }
    .header {
        &__inner {
            min-height: 100px;
        }
    }
    .promo {
        min-height: 386px;
    }
    .top-slider {
        &__item {
            min-height: 386px;
        }
        &__title {
            font-size: 60px;
            line-height: 60px;
            padding: 50px 0 15px;
            margin: 0 auto 30px;
        }
        &__btn {
            display: block;
            margin: 0 auto 113px;
            font-size: 18px;
            text-transform: uppercase;
            background-color: $accent;
            color: $bg-color;
            padding: 16px 45px;
            border: none;
            border-radius: 3px;
            font-weight: 500;
        }
        .slick-dots {
            bottom: 50px;
        }
        .slick-arrow {
            position: absolute;
            width: 56px;
            height: 56px;
            border: none;
            right: 0;
            z-index: 7;
            cursor: pointer;
        }
        .slick-prev {
            background-color: $accent;
            top: calc(50% - 56px);
        }
        .slick-next {
            background-color: $bg-color;
            bottom: calc(50% - 56px);
        }
    }
}