.promo {
    background: url('../../images/promo-bg.jpg') center center/cover no-repeat;
    min-height: 193px;
}

.top-slider {
    background: rgba(33, 33, 33, 0.5);
    &__item {
        color: #fff;
        text-align: center;
        min-height: 193px;
    }
    &__title {
        font-family: 'Roboto Condensed';
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-transform: uppercase;
        padding: 36px 0 28px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            width: 61px;
            margin: 0 auto;
            background-color: $text-color;
        }
    }
    &__text {
        display: none;
    }
    &__btn {
        display: none;
    }

    .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        .slick-active {
            button {
                background-color: transparent;
                border: 1px solid #476E4D;
            }
        }
        button {
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }

}