.first-proj {
    background: url("../../images/projects/lalique.jpg") center center/cover no-repeat;
}
.second-proj {
    background: url("../../images/projects/build.jpg") center center/cover no-repeat;
}
.third-proj {
    background: url("../../images/projects/coffee.jpg") center center/cover no-repeat;
}
.four-proj {
    background: url("../../images/projects/tour.jpg") center center/cover no-repeat;
}

.projects {
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    min-height: 1384px;
    text-align: center;
    &__title {
        color: #fff;
        padding-top: 30px;
        margin-bottom: 40px;
        &::after {
            background-color: #fff;
        }
    }
    &__img-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-box {
        cursor: pointer;
        width: 280px;
        height: 250px;
        background-color: gray;
        margin: 0 auto;
        border-radius: 5px;
        position: relative;
        &:hover {
            .projects__img-info {
                transition: all .7s;
                position: absolute;
                left: 5%;
                top: 5%;
                width: 90%;
                height: 90%;
                background: #F9F6E5;
                mix-blend-mode: normal;
                opacity: 0.83;
                border-radius: 4px;
            }
            .projects__info-btn,
            .projects__search-btn {
                cursor: pointer;
                opacity: 1;
                overflow: visible;
            }
        }
    }
    .projects__info-btn,
    .projects__search-btn {
        opacity: 0;
        overflow: hidden;
        margin: 0 5px;
        width: 10%;
    }
    &__name {
        font-family: 'Roboto Condensed';
        display: block;
        padding: 20px 0 40px;
        color: $accent;
        font-weight: 700;
    }
}